/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    ul{
        margin: 0;
        padding: 0;
    }
}

li{
    margin: 0;
    list-style-type: none;
}

a{
    background-color: transparent;
    text-decoration: none;
    color: transparent;
    border-style: none;
}

h1{
    margin: 0;
    margin-top: 20px;
}

.header-image{
    border-radius: 50%;
    width: 160px;
    box-shadow: #227292 1px 1px 5px;
    margin-bottom: 15px;
}

.list span{
    display: inline-block;
}

.header{
    background-color: #3399aa;
}

.container{
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 1750px;
}

.list{
    width: 1450px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 0;
}

.list li{
    height: 45px;
    padding-top: 2.5px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.list li:nth-child(even){
    background-color: #bbbbbb;
}

.list li:nth-child(odd){
    background-color: #cccccc;
}

.list li:nth-child(odd):hover{
    background-color: #eeeeee;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: darkgrey; 
    box-shadow: grey 0px 0px 5px;
}

.list li:nth-child(even):hover{
    background-color: #eeeeee;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: darkgrey; 
    box-shadow: grey 0px 0px 5px;
}

.list li:first-child{
    background-color: white;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.list li:first-child:hover{
    background-color: white;
    box-shadow: none;
    cursor: auto;
}

.name{
    padding-right: 20px;
    width: 50px;
}

.month{
    width: 100px;
    text-align: center;
}

.btn-add{
    width: 100px;
    height: 100px;
    background-color: #66b5c5;
    box-shadow: grey 1px 1px 5px;
    font-size: 70px;
    color: white;
    border-radius: 50%;
    margin-left: 89%;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
}

.btn-add:hover{
    background-color: #77ccdd;
    color: white;
    box-shadow: grey 1px 1px 10px;
}

.btn-add:active{
    color: white;
    background-color: lightblue;
}

.btn-ok{
    width: 90px;
    height: 90px;
    background-color: #66b5c5;
    box-shadow: grey 1px 1px 5px;
    font-size: 45px;
    color: white;
    border-radius: 50%;
    margin-left: 89%;
    margin-right: 100px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    font-weight: bold;
}

.btn-ok:hover{
    background-color: #77ccdd;
    box-shadow: grey 1px 1px 10px;
}

.btn-ok:active{
    background-color: lightblue;
}

.btn-status-green{
    width: 40px;
    height: 40px;
    background-color: #00E900;
    box-shadow: grey 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
    font-weight: bold;
}

.btn-status-green:hover{
    background-color: #88E988;
    box-shadow: grey 1px 1px 5px;
}

.btn-status-green:active{
    background-color: #BBE9BB;
}

.btn-status-red{
    width: 40px;
    height: 40px;
    background-color: #FF0000;
    box-shadow: grey 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
}

.btn-status-red:hover{
    background-color: #FF8888;
    box-shadow: grey 1px 1px 5px;
}

.btn-status-red:active{
    background-color: #FFBBBB;
}

.btn-delete{
    width: 40px;
    height: 40px;
    background-color: #555555;
    box-shadow: #222222 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: grey 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
}

.btn-delete:hover{
    background-color: #a0a0a0;
    box-shadow: #222222 1px 1px 5px;
}

.btn-delete:active{
    background-color: #bababa;
}

.editor{
    padding: 0;
    width: 50%;
    margin-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: right;
    margin-bottom: 75px;
    font-size: 26px;
}

.edit-item{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.edit-name-field{
    width: 70%;
    height: 32px;
    margin-right: auto;
    margin-left: auto;
}

.edit-due-field{
    width: 70%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
}

.edit-label{
    width: 30%
    height: 30px;
    padding-bottom: 50%;
    margin-right: 20px;
}

.btn-text{
    color: white;
}

.label-close{
    text-decoration: line-through;
}
